
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div>
        @{
            Html.RenderAction("Create");
        }
    </div>
    <hr />
    <div>
        @{
            Html.RenderAction("CountryTable");
        }
    </div>

</div>

